<footer>
    <!-- <div class="footer-top">
        <h2>Join our team</h2>
        <p>Know your potential</p>
        <a href="#" class="explore-btn">Explore Now</a>
    </div>
   <hr>
    <div class="footer-middle">
        <div class="sitemap">
            <h3>Sitemap</h3>
            <ul>
                <li><a href="#">Services</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Training</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">About us</a></li>
            </ul>
        </div>

        <div class="query">
            <h3>Send your query here</h3>
            <form>
                <input type="email" placeholder="Email">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div> -->
  
    <div class="footer-bottom">
        <div class="footer-links">
            <a (click)="onDisclaimer()">Disclaimer</a>
            <a (click)="onSecurityPolicy()">Security Policy</a>
            <a (click)="onPrivacy()">Privacy</a>
            <a (click)="onFAQ()">FAQ</a>
          </div>
          
        <p>&copy; 2024 All rights reserved by Artiset</p>
    </div>
</footer>
