<div class="top-nav">
    <header>
        <div class="logo" (click)="onLogo()">
            <img src="assets\artisetLogo.png" alt="Artiset Logo">
      </div>
      <div>
          <nav>
              <ul>
                  <li class="nav-item">
                      <a href="#" class="list">Company</a>
    
                  <div class="ServiceContent">
                      <ul>
                          <li>About-us</li>
                          <li>Our Team</li>    
                          <li>Awards, Clients & Recognitions</li>    
                          <li>Carrer at artiset</li>    
                      </ul>
                  </div>
                  </li>
    
                  <li class="nav-item">
                      <a href="#" class="list">Services</a>
    
                  <div class="CareerContent">
                      <ul>
                          <li>Oracle Implementation</li>   
                          <li>Enterprise Applications</li>   
                          <li>Reporting & Analytics</li>    
                          <li>Custom cloud Solutions</li>    
                          <li>Salesforce Development</li>         
                      </ul>
                  </div>
                  </li>
    
    
                  <li class="nav-item">
                      <a href="#" class="list">Carrer</a>
    
                  <div class="TrainingContent">
                      <ul>
                          <li>Corporate Training</li>
                          <li>Orientation Training</li>    
                          <li>Product Training</li>    
                          <li>Soft Training</li>    
                          <li>Upskilling</li>   
                          <li>Team Training</li>   
                          <li>Become a Traine</li>          
                      </ul>
                  </div>
                  </li>
    
                  <li class="nav-item">
                      <a href="#" class="list">Insights</a>
    
                  <div class="InsightsContent">
                      <ul>
                          <li>Featured Insights</li>
                          <li>Business Strategy</li>    
                          <li>Digital Transformation</li>    
                          <li>Sustainability</li>    
                          <li>Technology Trends</li>           
                      </ul>
                  </div>
                  </li>
    
    
                  <!-- <li class="list about-link">About Us </li> -->
                  <li class="list contact-link"  (click)="onContact()">Contact Us</li>
              </ul>
          </nav>
      </div>
      <div class="search-container">
          <div class="search">
              <input type="text" placeholder="Type to search...">
              <button><img src="assets\magnifying-glass.png" alt="Search"></button>
          </div>
      </div>
    
      <div class="global-icon">
          <img src="assets\globalP.png" alt="Global">
      </div>
    
          <div class="hover-content">
              <!-- Content that appears on hover -->
              <div class="location">
                  <p><strong>Noida</strong></p>
                  <ul>
                      <li>101, Ocean Complex, Sector-18, Noida</li>
                      <li>Gautam Budh Nagar (UP) – 201301</li>
                  </ul>
              </div>
              <div class="location">
                  <p><strong>Pune</strong></p>
                  <ul>
                      <li>188/822, Sant Tukaram Nagar</li>
                      <li>Pimpri-Chianchwad, Pune (MH) – 411018</li>
                  </ul>
              </div>
              <div class="location">
                  <p><strong>Mumbai</strong></p>
                  <ul>
                      <li>301 B, B wing, Moreshwar Apartment</li>
                      <li>Nerul (W) Navi Mumbai – 400706</li>
                  </ul>
              </div>
              <div class="location">
                  <p><strong>Ireland</strong></p>
                  <ul>
                      <li>67A Convent Road, Dun Laoghaire</li>
                      <li>Dublin Ireland A96 DW42</li>
                  </ul>
              </div>
              <div class="location">
                  <p><strong>United States</strong></p>
                  <ul>
                      <li>490 N Civic Dr. 302, Walnut Creek,</li>
                      <li>CA 94596, United States</li>
                  </ul>
              </div>
          </div>
  
      <div class="social-icons">
          <a href="https://www.facebook.com/artisetworkshop"><img src="assets\Facebook.png" alt="Facebook"></a>
          <a href="https://www.linkedin.com/company/artiset/"><img src="assets\Linkedin.png" alt="LinkedIn"></a>
          <a href="https://twitter.com/ArtisetWorkshop"><img src="assets\twitter.png" alt="X"></a>
          <a href="https://www.instagram.com/artisetworkshop/"><img src="assets\instagram.png" alt="Instagram"></a>
          <a href="https://www.youtube.com/channel/UCR5v_cNBdnVSpqKEjZ-_7oQ"><img src="assets\Youtube.png" alt="YouTube"></a>
      </div>
  
      <div class="header-info">
          <div class="email-section" (click)="redirectToGmail()">
            <i class="fa fa-envelope"></i>
            <span class="email">admin&#64;artiset.in</span>
          </div>
          <div class="phone-section" (click)="redirectToWhatsApp()">
            <i class="fa fa-phone"></i>
            <span class="phone">+91-8600735433</span>
          </div>
        </div>
        
    </header>
    